@font-face {
font-family: 'inter';
src: url(./fonts/Inter-Medium.ttf) format('truetype'),
url(./fonts/Inter-Regular.ttf) format('truetype'),
url(./fonts/Inter-SemiBold.ttf) format('truetype');

}

*{
    margin: 0;
    padding: 0;  
    font-family: 'inter';
}

body {
    width: 1200px;
    margin: auto;
}

.img-logo {
    background-image: url(./assets/logo\ \(2\).svg);
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
}

header {
    padding-left: 25px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 97%;
    background-color: #F5F5F5;
  
}
header nav {
    display: flex;
}

header nav p {
    margin-right: 30px;
    margin-top: 15px;
}

header nav div:not(:last-child) {
    margin-right: 18px;
}


.button {
    width: 112px;
    height: 34px;
    background: #F5F5F5;
    font: 500 15px 'Inter';
    color: #FB8F1D;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
    margin-top: 9px;
    box-sizing: border-box;



border: 1px solid #FB8F1D;
border-radius: 8px;
}

.button-1 {
    width: 112px;
    height: 34px;
    background:  #FB8F1D;;
    font: 500 15px 'Inter';
    color: #F5F5F5;
    text-align: center;
    padding: 7px 0px 0px 0px;
    border-radius: 5px;
    margin-top: 9px;
    box-sizing: border-box;
}

.zag h1 {
    width: 356px;
    height: 160px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #202336;
    margin-top: 100px;
}

.zag p {
    width: 170px;
    height: 27px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
color: #202336;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.img-saturn {
    background-image: url(./assets/thousand-01\ 1.svg);
    background-repeat: no-repeat;
    width: 506px;
    height: 483px;
}
.img-saturn {
    margin-bottom: 100px;
}

.flex input {

    display: flex;
    margin-top: 30px;
    width: 250px;
    padding: 15px 0px 15px 10px;
}

.block-contakt-1 {
    margin-bottom: 100px;
}

.button-2 {
    width: 100px;
    height: 25px;
    background:  #FB8F1D;;
    font: 500 15px 'Inter';
    color: #F5F5F5;
    text-align: center;
    padding: 12px 5px 30px 5px;
    border-radius: 8px;
    margin-top: 40px;
    box-sizing: border-box;
}

.img-exstrim {
    background-image: url(./assets/Thousand-02\ 1.svg);
    background-repeat: no-repeat;
    width: 659px;
    height: 534px;
}