@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-Medium.ttf) format('truetype'),
        url(./fonts/Inter-Regular.ttf) format('truetype'),
        url(./fonts/Inter-SemiBold.ttf) format('truetype');

}

* {
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

body {
    width: 1200px;
    max-width: 90%;
    background-size: contain;
    margin: auto;
}

.img-logo {
    background-image: url(./assets/logo\ \(2\).svg);
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
}

.home {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #202336;
}

header {
    padding-left: 25px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 97%;
    background-color: #F5F5F5;

}

header nav {
    display: flex;
}

header nav p {
    margin-right: 30px;
    margin-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #B8BECD;
}

header nav div:not(:last-child) {
    margin-right: 18px;
}


.button {
    width: 112px;
    height: 34px;
    background: #F5F5F5;
    font: 500 15px 'Inter';
    color: #FB8F1D;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
    margin-top: 9px;
    box-sizing: border-box;



    border: 1px solid #FB8F1D;
    border-radius: 8px;
}

.button-1 {
    width: 112px;
    height: 34px;
    background: #FB8F1D;
    ;
    font: 500 15px 'Inter';
    color: #F5F5F5;
    text-align: center;
    padding: 7px 0px 0px 0px;
    border-radius: 5px;
    margin-top: 9px;
    box-sizing: border-box;
}

.zag h1 {
    width: 356px;
    height: 160px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #202336;
    margin-top: 100px;
}

.zag p {
    width: 170px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #202336;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-saturn {
    background-image: url(./assets/thousand-01\ 1.svg);
    background-repeat: no-repeat;
    width: 506px;
    height: 483px;
}

.img-saturn {
    margin-bottom: 100px;
}

.flex input {

    display: flex;
    margin-top: 30px;
    width: 250px;
    padding: 15px 0px 15px 10px;
}

.block-contakt-1 {
    margin-bottom: 85px;
}

.button-2 {
    width: 100px;
    height: 25px;
    background: #FB8F1D;
    font: 500 15px 'Inter';
    color: #F5F5F5;
    text-align: center;
    padding: 12px 5px 30px 5px;
    border-radius: 8px;
    margin-top: 40px;
    box-sizing: border-box;
}

.zag-1 h1 {
    width: 481px;
    height: 100px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    mix-blend-mode: normal;
}

.zag-1 p {
    width: 450px;
    height: 120px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    mix-blend-mode: normal;
}

.zag-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button-3 {
    width: 100px;
    height: 25px;
    background: #FB8F1D;
    ;
    font: 500 15px 'Inter';
    color: #F5F5F5;
    text-align: center;
    padding: 12px 5px 30px 5px;
    border-radius: 8px;
    margin-top: 40px;
    box-sizing: border-box;
}

.img {
    background-image: url(./assets/Thousand-02\ 1.svg);
    background-repeat: no-repeat;
    width: 659px;
    height: 534px;
    margin-bottom: 100px;
}


.par {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.par h1 {
    width: 481px;
    height: 50px;
    ont-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.par p {
    width: 80px;
    height: 60px;
    ont-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}

.fauna {
    display: flex;
    justify-content: space-around;
    margin-top: 51px;
    width: 100%;
}

.img-fauna {
    background-image: url(./assets/image\ 4.svg);
    background-repeat: no-repeat;
    width: 648px;
    height: 432px;
    flex: 1;
}

.img-fauna-1 {
    background-image: url(./assets/Screen\ Shot\ 2020-02-14\ at\ 4.36\ 1.svg);
    background-repeat: no-repeat;
    width: 643px;
    height: 400px;
    flex: 1;
}

.img-fauna-2 {
    background-image: url(./assets/Screen\ Shot\ 2020-02-15\ at\ 11.04\ 1.svg);
    background-repeat: no-repeat;
    width: 536px;
    height: 372px;
    flex: 1;
}

.img-fauna-3 {
    background-image: url(./assets/Screen\ Shot\ 2020-02-15\ at\ 11.10\ 1.svg);
    background-repeat: no-repeat;
    width: 467px;
    height: 337px;
    flex: 1;
}

.sunny {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.sunny h1 {
    width: 481px;
    height: 100px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #202336;
    margin-top: 100px;
}

.sunny p {
    width: 450px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #7D7987;
}

.img-salfe {
    background-image: url(./assets/Thousand-03.svg);
    background-repeat: no-repeat;
    width: 599px;
    height: 542px;
}

.img-logo-1 {
    background-image: url(./assets/logo\ \(2\).svg);
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
    margin-bottom: 20px;
}


.big {
    width: 391px;
    height: 71px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #848484;
    margin-bottom: 50px;
}

.smal {
    width: 391px;
    height: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #848484;
    margin-top: 70px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

footer h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #000000;
    mix-blend-mode: normal;
}

footer p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #848484;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
















@media screen and (max-width: 500px) {
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .zag h1 {
        width: 456px;
        height: 160px;
        font-weight: 300;
        font-size: 24px;
    }
    
    .zag p {
        width: 100px;
        height: 17px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        margin-top: 10px;
    }

/*.flex input {

    width: 150px;
}*/

    body {
        max-width: 100%;
       width: max-content;
    }
    header {
        padding-left: 25px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
    }

/*.img-saturn {
    width: 420px;
    height: 283px;
}

*/
}