@font-face

* {
    margin: o;
    padding: 0;
    
}

.img-logo {
background-image: url(../travel-layout/Papka/logo.svg);
background-repeat: no-repeat;
position: absolute;
width: 41px;
height: 41px;
left: 191px;
top: 49px;
}

header {
    display: flex;
    justify-content: space-between;
    
}

header nav p {
    margin-right: 30px;
}

header nav div:not(:last-child) {
    margin-right: 18px;
}